.layoutConatiner {
}

.headerContainer {
  position: absolute;
  width: 100vw;
  background-color: transparent;
  z-index: 2;
}
.headerContainer1 {
  position: fixed;
  width: 100vw;
  background-color: rgb(14, 14, 88);
  z-index: 2;
}
.headerWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;

  color: white;
}
.headerLogo {
  display: flex;

  margin-left: 40px;
}
.headerContent {
  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
